.vagrant

*.sublime-project
*.sublime-workspace

/node_modules/
/web/bundles/
/web/vendor/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
