<h1>Featured Products</h1>
<ul>
{% for product in featured_products %}
    <li><a href="{{ url('product_show', {'slug': product.slug}) }}">{{ product.name }}</a> (&pound;{{ product.price }})</li>
{% endfor %}
</ul>
