{% extends "MinCommerceSiteBundle::layout.html.twig" %}

{% block title '- ' ~ product.name %}

{% block content %}
    <h1>{{ product.name }}</h1>
    {% if product.isFeatured %}
    <div class="row">
        <div class="col-lg-6 featured-product">
            <i class="fa fa-star"></i> Featured product
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-6">
            <div class="thumbnails">
                <img data-src="holder.js/100%x300/textmode:literal" alt="...">
                <ul>
                    <li><a href="#"><img data-src="holder.js/100x100/" alt="..."></a></li>
                    <li><a href="#"><img data-src="holder.js/100x100/" alt="..."></a></li>
                    <li><a href="#"><img data-src="holder.js/100x100/" alt="..."></a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 product-description">
            <p>{{ product.description }}</p>
            <span class="price">&pound;{{ product.price }}</span>
            <a class="btn btn-success" href="#" role="button"><i class="fa fa-shopping-cart"></i> Add to basket</a>
        </div>
    </div>
{% endblock %}